{#

if ($cursor != 'default') {
  $cursor_class = ' onomasticon-cursor-' . $cursor;
}

#}

{{ attach_library('onomasticon/default') }}

{% set attributes = create_attribute() %}

{%
  set classes = [
  'onomasticon',
  implement == 'extra_element' ? 'onomasticon-extra-element',
  implement == 'accessibility_first' ? 'onomasticon-accessibility-first',
  implement == 'extra_element' or implement == 'accessibility_first' ? 'onomasticon-orientation-' ~ orientation,
  cursor == default ? '' : 'onomasticon-cursor-' ~ cursor,
]
%}

{% if implement == 'extra_element' %}
  <{{ tag }} {{ attributes.addClass(classes) }} tabindex="0" title="{{ needle }}">
    <button disabled="disabled" class="onomasticon-term-description">{{ description }}{% if termlink %}<p><a href="{{ termpath }}" class="use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="" title="{{ needle }}">{{ "read more"|trans }}</a></p>{% endif %}</button>
  </{{ tag }}>
{% elseif implement == 'accessibility_first' %}
  <span {{ attributes.addClass(classes) }}>
    {% set aria_describedby = tag == 'dfn' ? 'definition' : (tag == 'abbr' ? 'abbreviation' : 'title-of-work') %}
    <{{ tag }} tabindex="0" aria-describedby="{{ aria_describedby }}">{{ needle }}</{{ tag }}>
    {% set allowed_inline_tags = '<a><b><br><em><img><s><small><span><strong><sub><sup><time>' %}
    <span id="{{ aria_describedby }}" role="tooltip" hidden="" class="onomasticon-term-description">{{ description|striptags(allowed_inline_tags) }}{% if termlink %}<a href="{{ termpath }}" class="use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="" title="{{ needle }}">read more</a>{% endif %}</span>
  </span>
{% else %}
  <{{ tag }} {{ attributes.addClass(classes) }} title="{{ description }}">{{ needle }}</{{ tag }}>
{% endif %}
